<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link data-turbolinks-track="true" href="/assets/posts.css?body=1" media="all" rel="stylesheet" />
  <%= csrf_meta_tags %>
  </head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <% if session[:user_id] %>
        <a href="#" class="dropdown-toggle  glyphicon glyphicon-user" data-toggle="dropdown"> <%= current_user.username %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", sessions_logout_path %></li>
        </ul>
        <% else %>
          <li><%= link_to "Login", sessions_login_path %></li>
        <% end %>
      </li>
    </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <p class="navbar-text pull-right">

  <div class="col-md-4">

      <div class="starter-template">
      	<% flash.each do |key, value | %>
      	<%= value %>
      	<% end %>

        <%= yield %>

      </div>
  </div>
    </div>
  </body>
</html>